/* .page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
} */

.page h4 {
  padding: 20px;
}

.book {
  display: flex;
  justify-content: center;
}

.book:hover {
  transform: scale(1.009);
}
.book li {
  text-decoration: none;
  list-style-type: none;
}
.book-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.book-container > * {
  flex-basis: 40%;
}

@media only screen and (max-width:500px){
  .book-container{
    
  }
}