.footer {
  position: relative;
  width: 100%;
  /* height: 150px; */
  text-align: center;
  background-color: #52b69a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}

.contact-us {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30%;
}
.contact-form {
  font-size: small;
  border: none;
  width: 30%;
  text-align: left;
}

.contact-form textarea {
  background-color: #76c893;
}
