.register {
  background: #d9ed92;
  height: 100vh;
  width: 100%;
  position: absolute;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
}

form {
  padding: 20px 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 10px;
}

form label {
  text-align: left;
  margin-top: 20px;
}

form input {
  display: flex;
  flex-direction: column;
  padding: 8px 5px;
  background-color: #76c893;
}

.img-upload {
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  background: rgba(78, 223, 192, 0.471);
  color: rgb(14, 2, 2);
  cursor: pointer;
}

.submit-btn {
  margin: 20px 0;
  width: 100%;
  padding: 8px 12px;
  border-radius: 5px;
  background: #34a0a4;
  color: white;
  cursor: pointer;
}

.register-complete {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  form {
    padding: 10px;
    width: 80%;
  }
}
