.App-parent {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  flex: 1;
}

body {
  scrollbar-width: none;
}

.layout-main-section {
  margin-top: 80px;

  padding: 20px;
  flex-grow: 1;

  flex: 1;
  overflow-y: auto;
  margin-left: 300px;
  margin-right: 300px;
}

.right-layout {
  padding: 22px 12px;
  width: 300px;
  height: 78.5%;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 80px;
  bottom: 0;
  right: 0;
}

.right-layout iframe {
  width: auto;
  height: 100%;
}
