.App-parent {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  flex: 1;
}

body {
  scrollbar-width: none;
}

/* Navbar css*/

nav {
  display: flex;
  top: 0;
  height: 80px;
  background: #a0d2eb;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 100px;
}

.searchbar-container {
  flex: 1;
}

/* main css */
.layout-main-section {
  /* margin-top: 80px; */
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 20px;
  overflow: auto;
}

/* rightbar css */
.right-layout {
  padding: 22px 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.right-layout iframe {
  width: auto;
  height: 100%;
}

/*Sidebar css*/
.sidebar-parent {
  width: 350px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #a0d2eb;
}

.sidebar-parent ul {
  margin-top: 20px;
  margin-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list {
  text-decoration: none;
  list-style-type: none;
  width: 100%;
  padding: 20px 30px;
  background-color: aliceblue;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.list:hover {
  background-color: aquamarine;

  transition: 0.2s;
  cursor: pointer;
  transform: scale(1.02);
}

.active {
  background-color: aquamarine;
  text-decoration: none;
  list-style-type: none;
  padding: 20px 30px 20px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}
