* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.btn {
  margin-left: 20px;
  padding: 8px 12px;
  border-radius: 5px;
  background: #286cff;
  color: white;
  cursor: pointer;
}
