* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #49c5b6;
}

.btn {
  margin-left: 20px;
  padding: 8px 12px;
  border-radius: 5px;
  background: #286cff;
  color: white;
  cursor: pointer;
}

.loading {
  text-align: center;
}

.status {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
}

a:-webkit-any-link {
  text-decoration: none;
  color: rgb(56, 56, 56);
}
